header,

div{

}
*{
    background-image: url('img8.jpg');
    background-color: coral;
    background-size: cover;
    color: blue;
    text-align: center;
    background-repeat: no-repeat;

}
.centered{
    text-align: center;
}
.large{
    font-size: large;
}
.medium{
    font-size: medium;
}
.small{
    font-size: small;

}
#first{
    font-size: large;
    color: brown;
    font-style: italic;
}
#second{
    font-size: large;
    color: blue;
    font-style: initial;
}
